.filepond--file-poster {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: center center;
    background: #222;

    // will be animated
    will-change: transform, opacity;

    img {
        height: 100%;
        width: auto;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        display: block;
        will-change: transform;
    }
}
